@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
}
p {
    margin-top: 0;
}

h1 {
    opacity: .9;
}
h2 {
    opacity: .8;
}
p {
    opacity: .7;
}


.main {
    width: 90%;
    max-width: 600px;
    height: 200px;
    margin: 20px auto;
}


.main .header {
    width: 100%;
    text-align: center;
}
.main .header .logo {
    max-width: 60px;
    width: 20%;
}

.main .header .all {
    width: 100%;
}
.header h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}


.landing-img {
    margin-top: 60px;
    width: 100%;
    text-align: center;
}
.landing-img h2 {
}
.landing-img p {
}
.landing-img .variant {
    width: 100%;
    margin: 0;
    padding: 0;
}
.landing-img img {
    width: 100%
}
.landing-img .variantButton {
    border-radius: 0;
    background-color: #333333;
    color: white;
    border: none;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
    width: 25%;
    text-align: center;
} 
.landing-img .variantToggles {
    display: flex;
    flex-direction: row;
}



.more-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0px;
    text-align: center;
}
.more-info div {
    width: 33%;
}
.more-info p {
    font-size: 14px;
}
.more-info h2 {
    color: white;
}


.vendors {
    margin-top: 60px;
    padding-bottom: 100px;
    text-align: center;
}
.vendors h2 {
}
.vendors table {
    width: 100%;
    text-align: center;
}
.vendors table td {
    width: 33%;
}


.links {
    display: flex;
    width: 100%;
    justify-content: center;
}
.links a {
    font-size: 24px;
    color: white;
    transition: color .5s, opacity 1s;
    margin: 0 20px;
}
.links a:hover {
    color: #C89E49;
}


@media only screen and (max-width: 600px) {
    .more-info div {
        width: 100%;
    }
}
